<header class="banner navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
              ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  ui-sref="home">IX Olimpiada Interuniversitaria</a>
    </div>

      <nav collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('documents')}" ng-show="getUserType()==='admin' || getUserType() === 'judge' || getUserType() === 'participant'"><a <a ui-sref="documents.list" translate="DOCUMENTS"></a></li>
        <li ng-class="{active: $state.includes('documents')}" ng-show="getUserType()==='admin' || getUserType() === 'judge' || getUserType() === 'participant'"><a ui-sref="documents.score" translate="SCORES"></a></li>
        <li ng-class="{active: $state.includes('user')}" ng-show="getUserType()==='admin'"><a ui-sref="users.list" translate="USERS"></a></li>
        <li ng-class="{active: $state.includes('documents')}" ng-show="(getUserType()==='admin' || getUserType() === 'judge')" ><a ui-sref="documents.solutions" translate="SOLUTIONS"></a></li>
        <!--<li ui-sref-active="active"><a ui-sref="about">About</a></li>-->
      </ul>
      <div class="container navbar-form navbar-right"></div>
    </nav>
  </div>
</header>

<div class="form-group">
    <input type="image" src="images/spain.png" ng-click="changeLanguage('es')" width="30" height="20">
    <input type="image" src="images/us.jpg" ng-click="changeLanguage('en')" width="30" height="20">
</div>

<div class="">
  <h1><span ng-show="!document.id" translate="ADDNEW" ></span><span ng-show="document.id" translate="DOCUMENTS"></span></h1>
  <alert type="{{message.type}}" ng-show="message.msg">{{message.msg}}</alert>

  <form  name="new_document_form" role="form">
    <div class="form-group">
      <label for="title" class="col-md-2 control-label" translate="TITLE"></label>
      <div class="col-sm-10">
        <input type="text" id="title" name="title" class="form-control" ng-model="document.title" submit-required="true">
      </div>
    </div>

    <div class="form-group" ng-show="getUserType() === admin">
      <label for="type" class="col-md-2 control-label" translate="TYPE"></label>
      <div class="col-sm-10">
        <select id="type" name="type" class="form-control" ng-model="document.type" required>
          <option value="page" translate="PAGE"></option>
          <option value="problem" translate="PROBLEM"></option>
        </select>
      </div>
    </div>

    <div class="form-group">
      <label for="content" class="col-md-2 control-label" translate="CONTENTS"></label>
      <div class="col-sm-10">
        <textarea id="content" name="content" class="form-control" ng-model="document.content" rows="20" submit-required="true">
        </textarea>
      </div>
    </div>

    <div class="form-group"  ng-hide="document.type !== 'problem'">
      <label for="score" class="col-md-2 control-label" translate="SCORE"></label>
      <div class="col-sm-10">
        <input type="text" id="score" name="score" class="form-control" ng-model="document.score">
      </div>
    </div>

    <div class="form-group" ng-hide="document.type !== 'problem'">
      <label for="final-input" class="col-md-2 control-label" translate="INPUT"></label>
        <div class="col-sm-10">
          <div ng-hide="switchFileInput" ng-file-reader on-readed="onReaded( event, file, 'input' )" class="form-control fancy-hide" read-method="'readAsText'"></div>
          <textarea class="form-control" ng-model="document.attachment[0].content" rows="10" ng-hide="!switchFileInput" class="fancy-hide" ></textarea>
        </div>
    </div>


    <div class="form-group" ng-hide="document.type !== 'problem'">
      <label for="final-output" ng-show="getUserType() === 'admin'"  class="col-md-2 control-label" translate="OUTPUT"></label>
      <div ng-show="getUserType() === 'admin'"  class="col-sm-10">
        <div ng-show="getUserType() === 'admin'"  class="col-sm-2 no-padding">
          <toggle-switch
                         model="switchFileOutput"
                         class="switch-primary"
                         ng-show="getUserType() === 'admin'"
                         html="true"
                         on-label="<i class='glyphicon glyphicon-pencil'></i>"
                         off-label="<i class='glyphicon glyphicon-file'></i>">
          </toggle-switch>
        </div>
        <div class="col-sm-10">
          <div ng-hide="switchFileOutput" ng-file-reader on-readed="onReaded( event, file, 'output' )" class="form-control fancy-hide" read-method="'readAsText'"></div>
          <textarea ng-show="getUserType() === 'admin'"  class="form-control" ng-model="document.attachment[1].content" rows="10" ng-hide="!switchFileOutput" class="fancy-hide" ></textarea>
        </div>
      </div>
    </div>


    <div class="form-group last">
      <div class="col-sm-offset-2 col-sm-10">
        <button ng-click="save(document)" class="btn btn-primary" ng-show="getUserType() === 'admin'" translate="SAVE" ></button>
        <button ui-sref="documents.list" class="btn btn-default" translate="CANCEL"></button>
      </div>
    </div>
  </form>
</div>
