<header class="banner navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
              ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">{{redirectForUser()}}Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  ui-sref="home">IX Olimpiada Interuniversitaria</a>
    </div>

      <nav collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('documents')}"><a <a ui-sref="documents.list" translate="DOCUMENTS"></a></li>
        <li ng-class="{active: $state.includes('documents')}"><a ui-sref="documents.score" translate="SCORES"></a></li>
        <li ng-class="{active: $state.includes('user')}" ng-show="getUserType()==='admin'"><a ui-sref="users.list" translate="USERS"></a></li>
        <li ng-class="{active: $state.includes('documents')}" ng-show="getUserType()==='admin' || getUserType() === 'judge'" ><a ui-sref="documents.solutions" translate="SOLUTIONS"></a></li>
        <!--<li ui-sref-active="active"><a ui-sref="about">About</a></li>-->
      </ul>
      <div class="container navbar-form navbar-right"></div>
    </nav>
  </div>
</header>

<div class="form-group">
    <input type="image" src="images/spain.png" ng-click="changeLanguage('es')" width="30" height="20">
    <input type="image" src="images/us.jpg" ng-click="changeLanguage('en')" width="30" height="20">
</div>

<h1 translate="SOLUTIONS"></h1>
<a translate="LISTSOLUTIONS"></a>

<ul class="documents list-group" ng-show="getUserType()==='judge' || getUserType()==='admin'">
  <li ng-repeat="document in documents | orderBy:'ownerName'" class="list-group-item" ng-show="document.type==='code'" >
    <div class="icon">
      <span class="glyphicon" ng-class="{ 'glyphicon-flash': document.type==='code' }"></span>
    </div>
    <h2>{{document.title}} - {{document.ownerName}}
      <span class="badge" ng-show="getJudgeScore(document)==='none'">{{'NONE' | translate}}/{{document.score}}pts</span>
      <span class="badge" ng-show="document.type==='code' && getJudgeScore(document)!=='none'">{{getJudgeScore(document)}}/{{document.score}}pts</span>
    </h2>
    <span class="badge" ng-show="document.type==='code'" > {{'DATE' | translate}}: {{document.createdAt}}</span>
    <div class="btn-group btn-group-sm">
      <a class="btn btn-primary" href="" ui-sref="documents.qualify({ id: document.id })" translate="QUALIFY"></a>
    </div>
  </li>
