<h1>Add / Edit user</h1>
<form name="new_user_form">
    <div class="form-group">
      <div ng-repeat="(attr_name, attr_value) in model_def">
          <label for="{{attr_name}}" class="col-md-2 control-label">{{attr_name}}</label>
          <div class="col-sm-10">
            <input type="text" id="title" name="{{attr_name}}"  class="form-control" ng-model="user[attr_name]">
          </div>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="save(user)">Save user</button>
    <button class="btn btn-cancel"  ui-sref="users.list">Cancel</button>
</form>
