<header class="banner navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle btn navbar-btn" ng-init="navCollapsed = true"
              ng-click="navCollapsed = !navCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"  ui-sref="home">IX Olimpiada Interuniversitaria</a>
    </div>

      <nav collapse="navCollapsed" class="navbar-collapse collapse navbar-responsive-collapse navbar-right">
      <ul class="nav navbar-nav">
        <li ng-class="{active: $state.includes('documents')}"><a <a ui-sref="documents.list" translate="DOCUMENTS"></a></li>
        <li ng-class="{active: $state.includes('documents')}"><a ui-sref="documents.score" translate="SCORES"></a></li>
        <li ng-class="{active: $state.includes('user')}" ng-show="getUserType()==='admin'"><a ui-sref="users.list" translate="USERS"></a></li>
        <li ng-class="{active: $state.includes('documents')}" ng-show="getUserType()==='admin' || getUserType() === 'judge'" ><a ui-sref="documents.solutions" translate="SOLUTIONS"></a></li>
        <li ng-class="{active: $state.includes('user')}" ng-show="getUserType()==='admin' || getUserType() === 'judge'"><a ui-sref="users.resume" translate="RESUME"></a></li>
        <!--<li ui-sref-active="active"><a ui-sref="about">About</a></li>-->
      </ul>
      <div class="container navbar-form navbar-right"></div>
    </nav>
  </div>
</header>

<h1>Add / Edit user</h1>
<form name="new_user_form">
    <div class="form-group">
      <label for="title" class="col-md-2 control-label">Username</label>
      <div class="col-sm-10">
        <input type="text" id="title" name="title" class="form-control" ng-model="user.username" submit-required="true">
      </div>
      <label for="title" class="col-md-2 control-label">Password</label>
      <div class="col-sm-10">
        <input type="text" id="title" name="title" class="form-control" ng-model="user.password" submit-required="true">
      </div>
      <label for="title" class="col-md-2 control-label">Role</label>
      <div class="col-sm-10">
        <select id="role" name="role" class="form-control" ng-model="user.rol" submit-required="true">
          <option value ="participant">Participant</option>
          <option value="judge">Judge</option>
        </select>
      </div>
    </div>
    <button class="btn btn-primary" ng-click="save(user)">Save user</button>
    <button class="btn btn-cancel"  ui-sref="users.list">Cancel</button>
</form>
